<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spottygram</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
  <script type="text/javascript" src="vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/fullpage.js/jquery.fullPage.css" />
  <script src="/fullpage.js/jquery.fullPage.js"></script>
  <script src="/fullpage.js/vendors/jquery.easings.min.js"></script>
  <script src="/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/main.js"></script>
</head>
<body>
  <!-- //////////////// MENU ////////////////////-->
    <div class="ui top attached demo menu inverted blue">
      <a class="item"><i class="sidebar icon"></i>Menu</a>
      <div class="right menu">
        <a href="/new" class="item">Create Gram</a>
        <% if (user) { %>
        <a href="/logout" class="item">Log Out</a>
        <% } else { %>
        <a href="/login" class="item">Log In</a>
        <% } %>
      </div>
    </div>

    <div class="ui bottom attached segment pushable">
      <div class="ui inverted left inline vertical sidebar menu red uncover">
        <a href="/" class="item">Main</a>
        <a href="/all" class="item">Grams</a>
        <a href="/top" class="item">Top One</a>
        <a href="/contact" class="item">Bark at Us</a>
        <% if (user) { %>
        <a href="/userprofile" class="item">My Profile</a>
        <a href="/logout" class="item">Log Out</a>
        <% } else { %>
        <a href="/login" class="item">Log In/Sign Up</a>
        <% } %>
      </div>
  <!-- //////////////// MENU ////////////////////-->

  <!-- //////////////// BODY ////////////////////-->
  <div class="title-main-top">
    <h1>Spottygram</h1>
  </div>

    <div class="profile-user">
      <img class="ui small image image-profile" src="<%= image %>">
      <br>
      <div class="description-profile">
      <h2>Hello <em><%= user %></em></h2>
      <p>Thanks for being our User. Feel free to Gram as much as you like! Enjoy!</p>
      <button class="ui button start-grams">Start Gramming!</button>
      </div>
    </div>

    <div class="profile-user-posts">
      <h2>Your Posts</h2>
      <ul>
      <% posts.forEach(function(post){ %>
        <div class="ui image this-image-profile">
          <img class="ui centered image redo-image" src="<%= post.image %>">
          <div class="ui label" style="border: 1px white solid !important;">
          "<%= post.description %>"<br>
          <%= post.likes %> Likes</div>
        </div>
      <% }) %>
      </ul>

    </div>
    
  <!-- //////////////// BODY ////////////////////-->


</body>
</html>